<summary-view
  items="items"
></summary-view>

<filter
  on-hide-time="onHideTime(isShowDateOnly)"
  on-filter-by-option="onFilterByOption(sortByProp)"
  on-input-search="onInputSearch(searchTitle)"
></filter>

<div class="content-item-list">
  <content-item
    ng-repeat="item in items | orderBy: sortByProp | filter: query"
    on-select-item="onSelectItem({selectedElem: selectedElem})"
    item="item"
    selected-item="selectedItem"
    is-show-date-only="isShowDateOnly"
  >
  </content-item>
</div>

<div class="add-item">
  <label for="add-field">New title: </label> 
  <input id="add-field" type="text" ng-model="newItemTitle" />
  <button class="add-btn" ng-click="addItem()">Add</button>
</div>